= provide(:title, "Posts")
%h1 Posts

- if user_signed_in?
  = link_to new_post_path do
    %span.glyphicon.glyphicon-plus
    Add Post
    
%table

  %tbody
    = render @posts
      
%br

= will_paginate @posts, renderer: BootstrapPagination::Rails 